@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

@media screen and (max-width: 768px) {
  body {
    orientation: portrait;
    user-select: none;
  }
}

#root, .App{
    height:100%
}

#task-screen{
  z-index: 1;
}

.item-container {
  background-color: #0C134F;
  border-radius: 18px;
  padding: 1.2rem 1rem;
  margin: 0.25rem 0;
}

.item-header {
  font-weight: 500;
  font-size: 1rem;
}

.item-header span {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: violet;
}

.btn {

  background:rgba(128, 0, 128, 0.99) ;
  color: #fff;
  border-radius: 0.4rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 0.4rem;
  padding: 0.4rem 0;
}

.tasks-container::-webkit-scrollbar {
  width: 0px;
}

.fade-container {
  background: linear-gradient(#3e54ac00, #3e54ac);
}

.profile-pic {
  border: 2px solid #4195fc;
  box-shadow: 0px 0px 8px #4195fc;
}
.menu-item {
  padding: 0.3rem 0;
  display: flex;
  font-size: 1rem;
  gap: 0.4rem;
  transition: all 0.2s ease;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-item:hover {
  color: violet;
}

.menu-item-icon {
  font-size: small;
  color: violet;
}

.strike-title {
  height: 2px;
  width:100%;
  transform: translateX(-200%);
  opacity: 0;
  margin-top: 2px;
  background-color: green;
  position: absolute;
}

.text-description{
  font-weight:'300'
}

.add-task-btn {
  background-color: #3a1078;
}

.btn{
  /* background-color: #C780FA; */
}

.title {
  font-family: "Oswald", sans-serif;
}

.progress-bar{
  background-color: grey;
  border-radius: 4px;
  overflow: hidden;
}
.progress-bar::before{
  content: '0%';
  position: absolute;
  font-size: 0.7rem;
  bottom:0.75rem;
  left: 1rem;
  font-weight: 300;
  font-family:monospace;
}

.progress-bar::after{
  content: '100%';
  position: absolute;
  font-size: 0.7rem;
  bottom: 0.75rem;
  right: 1rem;
  font-weight: 300;
  font-family:monospace;
}
.progress{
  border-radius: 5px;
  width: 100%;
  transform: translateX(-100%);
  background-color: #C780FA;
}